@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid peachpuff;
}
.navbar h2{
  color: peru
}

.navbar .links{
  margin-left: auto;
}
.navbar a {
  color: peru; 
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover{
  color: peachpuff;
}

.register-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: peachpuff;
  border-radius: 10px;
  box-shadow: 0 4px 12px peru(0, 0, 0, 0.15);
}

.register-container h2 {
  color: peru;
  text-align: center;
  margin-bottom: 25px;
}

.register-container .form-control {
  font-size: 14px;
}

.register-container button {
  width: 100%;
  background-color: #ff7f50;
  border: none;
  transition: background-color 0.3s ease;
}

.register-container button:hover {
  background-color: peru;
  cursor: pointer;
}

.register-container p {
  text-align: center;
  margin-top: 15px;
}


.login-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: peachpuff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.login-container h2 {
  color: peru;
  text-align: center;
  margin-bottom: 25px;
}

.login-container .form-control {
  font-size: 14px;
}

.login-container button {
  width: 100%;
  background-color: #ff7f50;
  border: none;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: peru;
  cursor: pointer;
}

.login-container p {
  text-align: center;
  margin-top: 15px;
}


